.statusbar-overlay {
    background: #000000;
}
.panel, .navbar{
	background: #5b7a93;
}
.navbar a.link{
	color:#DDD;
}
.navbar a.link{
	color:#DDD;
}
.navbar .sliding{
	color:#FFF;
}
.list-block {
    margin: 43px 0;
}
.page {
    background: #FFF;
}
.marcas{
	width:100%;
}
.swiper-custom {
  position:relative;
}
.swiper-container {
}
.swiper-slide {
  background: #fff;
}
.swiper-slide span {
  text-align:center;
  display:block;
  margin: 20px;
  font-size:21px;
}
.row > div{
	background:#EEE;
}
.content-texto{
	padding:15px;
}
.text-right{
	text-align:right;
}
.navbar a.link i+i, .navbar a.link i+span, .navbar a.link span+i, .navbar a.link span+span, .subnavbar a.link i+i, .subnavbar a.link i+span, .subnavbar a.link span+i, .subnavbar a.link span+span, .toolbar a.link i+i, .toolbar a.link i+span, .toolbar a.link span+i, .toolbar a.link span+span {
    margin-left: 7px;
}
.card {
    background-color: #fff;
    margin: 15px 0;
    border-top: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
    box-shadow: none;
}
.card .card-header {
    padding: 10px;
    padding-bottom: 5px;
    -webkit-box-pack: inherit;
    -ms-flex-pack: inherit;
    justify-content: inherit;
    -webkit-box-align: inherit;
    -ms-flex-align: inherit;
    align-items: inherit;
}
.card .card-header .avatar, .card .card-header .avatar>img {
    width: 40px;
    height: 40px;
    border-radius: 4px;
    margin-right: 9px;
}
.card .card-header .user {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.card .card-header .user .name {
    color: #ff9630;
    font-weight: 700;
    font-size: 14px;
}
.card .card-content {
    padding: 5px 10px;
    position: relative;
}
.card-footer {
    border-radius: 0 0 2px 2px;
    color: #6d6d72;
}
.card-footer:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: auto;
    right: auto;
    height: 1px;
    width: 100%;
    background-color: #e1e1e1;
    display: block;
    z-index: 15;
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
}
.card-footer a.link, .card-header a.link {
    line-height: 44px;
    height: 44px;
    text-decoration: none;
    position: relative;
    margin-top: -10px;
    margin-bottom: -10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
}
.card .card-footer {
    min-height: 35px;
    padding: 0;
}
.card .card-footer .tool.tool-border {
    border-right: 1px solid #e1e1e1;
}
.card .card-footer a.link {
    line-height: 35px;
    height: 35px;
}
.card .card-footer .tool {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.card .card-footer .tool>span {
    vertical-align: middle;
}
.card .card-footer .tool .text {
    font-size: 13px;
}
.flex-row {
    display: flex!important;
    flex-direction: row;
}
.flex-row .flex-rest-width {
    flex: 1;
    width: auto;
}
.navbar a.link, .subnavbar a.link, .toolbar a.link {
    line-height: 44px;
    height: 44px;
    text-decoration: none;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
	
}
.custom-toolbar .toolbar-inner .tool {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.custom-toolbar .tool>span, .custom-toolbar .tool>i {
    color: #6d6d78;
    vertical-align: middle;
}
.custom-toolbar .tool.tool-border {
    border-right: 1px solid #e1e1e1;
}
.descripcion_larga{
}
.open-panel{
	min-width:28px;
}
.toolbar a{
	color:#555;
}